<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/common.js}" src="../../static/js/common.js"></script>
    <title>ヘッダー</title>
</head>

<body>
    <div th:fragment="header" class="flex flex-wrap py-2">
        <div class="w-full px-4">
            <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-pink-500 rounded">
                <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
                    <div
                        class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
                        <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                            th:href="@{/}" href="../AA0101/index.html">
                            spring-boot2-train
                        </a>
                    </div>
                    <div class="lg:flex lg:flex-grow items-center hidden" id="example-collapse-navbar">
                        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
                            <div class="nav-item">
                                <span
                                    class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                                    名前
                                </span>
                            </div>
                            <li class="nav-item">
                                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                                    th:href="@{/logout}" href="">ログアウト</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>