<!DOCTYPE html>
<html th:fragment="layout(title, body, enabledMenu)" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/common.js}" src="../../static/js/common.js"></script>
    <title th:replace="${title}">...</title>
</head>

<body>
    <div th:replace="~{common/header :: header}">...</div>
    <div class="">
        <!--/* メニュー要否に合わせて表示切り替え */-->
        <div th:if="${enabledMenu == true}" class="">
            <div th:insert="~{common/menu :: menu}" class="">...</div>
            <div th:insert="${body}" class="">...</div>
        </div>
        <div th:if="${enabledMenu == false}" class="">
            <div th:insert="${body}" class="">...</div>
        </div>
    </div>
    <div th:replace="~{common/footer :: footer}">...</div>
</body>

</html>