<!DOCTYPE html>
<html th:fragment="layout(title, body, enabledMenu)" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/common.js}" src="../../static/js/common.js"></script>
    <title th:replace="${title}">...</title>
</head>

<body>
    <div th:replace="~{common/header :: header}">...</div>
    <div>
        <!--/* メニュー要否に合わせて表示切り替え */-->
        <div th:if="${enabledMenu == true}" class="flex flex-row">
            <div class="w-1/4">
                <div th:insert="~{common/menu :: menu}" class="mt-1 ml-4 mr-1 bg-pink-200 rounded">...</div>
            </div>
            <div class="w-3/4">
                <div th:insert="${body}" class="mt-1 ml-1 mr-4 bg-gray-100 rounded">...</div>
            </div>
        </div>
        <div th:if="${enabledMenu == false}">
            <div class="mt-1 ml-4 mr-4 bg-gray-100 rounded">
                <div th:insert="${body}">...</div>
            </div>
        </div>
    </div>
    <div th:replace="~{common/footer :: footer}">...
    </div>
</body>

</html>