<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true)}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item詳細画面</title>
</head>
<body>
    <h1>item詳細画面</h1>
    <a th:href="@{/}" href="../AA0101/index.html">TOP画面へ</a>

    <div>
        <span style="display: inline-block;width: 150px;">ID</span>
        <span th:text="${itemForm.id}"></span>
    </div>

    <div>
        <span style="display: inline-block;width: 150px;">ITEM NAME</span>
        <span th:text="${itemForm.itemName}"></span>
    </div>

    <div>
        <span style="display: inline-block;width: 150px;">PRICE</span>
        <span th:text="${itemForm.price}"></span>
    </div>

    <div>
        <span style="display: inline-block;width: 150px;">分類</span>
        <span th:text="*{@itemRegistViewHelper.getGroupName(itemForm.groupid)}" >文具</span>
    </div>

    <div>
        <span style="display: inline-block;width: 150px;">登録日</span>
        <span th:text="*{#temporals.format(itemForm.registDate, 'uuuu/MM/dd')}"></span>
    </div>

    <div>
        <span style="display: inline-block;width: 150px;">バージョンNo</span>
        <span th:text="${itemForm.versionNo}"></span>
    </div>

    <li><a th:href="@{/WBA0201/search}" href="../BA0201/search.html">戻る</a></li>
    <li><a th:href="@{/WBA0501/index(id=${itemForm.id})}" href="../BA0501/index.html">変更・削除画面へ</a></li>
    
</body>
</html>