[Unit]
Description=spring-boot app

[Service]
User=ec2-user
Group=ec2-user
Type=oneshot
ExecStart=/bin/bash /home/ec2-user/spring-boot2-train/run.sh
WorkingDirectory=/home/ec2-user/spring-boot2-train

[Install]
WantedBy=multi-user.target