<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true)}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>item変更・削除画面</title>
</head>

<body>
    <div class="px-3 py-4 overflow-y-auto">
        <h1 class="flex items-start text-xl font-bold">item変更・削除画面</h1>
        <form method="POST" th:action="@{confirm}" action="./confirm.html" th:object="${itemUpdateDeleteForm}">
            <div class="py-5 space-y-3 indent-2">
                <div th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}" class="text-red-600"></div>
                <div>
                    <label class="inline-block w-32">ID</label>
                    <input type="text" th:field="*{id}" value="1" readonly
                        class="rounded border border-gray-600 inline-block w-72" />
                    <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-red-600" />
                    <input type="hidden" th:field="*{versionNo}" />
                </div>

                <div>
                    <label class="inline-block w-32">ITEM NAME</label>
                    <input type="text" th:field="*{itemName}" value="ノート"
                        class="rounded border border-gray-600 inline-block w-72" />
                    <div th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="text-red-600" />
                </div>

                <div>
                    <label class="inline-block w-32">PRICE</label>
                    <input type="text" th:field="*{price}" value="3000"
                        class="rounded border border-gray-600 inline-block w-72" />
                    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-red-600" />
                    <div th:if="${#fields.hasErrors('bunguPrice')}" th:errors="*{bunguPrice}" class="text-red-600" />
                </div>

                <div>
                    <label for="groupid" class="inline-block w-32"><span>分類</span></label>
                    <select th:field="*{groupid}"
                        class="rounded border border-gray-600 inline-block w-72">
                        <option value=""></option>
                        <option th:each="group : ${groups}" th:value="${group.code}" th:text="${group.label}" selected>
                            文具
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('groupid')}" th:errors="*{groupid}" class="text-red-600"></span>
                </div>

                <div>
                    <label class="inline-block w-32">登録日</label>
                    <input type="date" th:field="*{registDate}" value="2023-06-01"
                        class="rounded border border-gray-600 inline-block w-72" />
                    <div th:if="${#fields.hasErrors('registDate')}" th:errors="*{registDate}" class="text-red-600" />
                </div>
            </div>
            <div class="px-3 py-3">
                <a th:href="@{/WBA0301/index(id=*{id})}" href="../BA0301/index.html"
                    class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">戻る</a>
                <button type="submit" name="updateConfirm"
                    class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">更新</button>
                <button type="submit" name="delete" id="delete"
                    class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">削除</button>
            </div>
        </form>
    </div>
    <script th:src="@{/js/ba0501.js}" src="../../static/js/ba0501.js"></script>
</body>

</html>