<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>TOP画面</title>
</head>
<body>
    <h1 >TOP画面</h1>
    
    <ul>
        <li><a th:href="@{/WBA0101/index}" href="../BA0101/regist.html">item登録画面</a></li>
        <li><a th:href="@{/WBA0201/index}" href="../BA0201/search.html">item検索画面</a></li>
        <th:block sec:authorize-url="/WBA0401">
            <li><a th:href="@{/WBA0401/index}" href="../BA0401/delete.html">item削除画面</a></li>
        </th:block>
    </ul>
    
</body>
</html>